
#funnymeme,#bgimg{z-index:-10;}
#bgimg{width:245;}
html{background-color:#19191b;}
#bgimg{height:285;}
#footer,#bgimg,#funnymeme{position:absolute;}
#bgimg{bottom:0;}#bgimg{left:43%;}
#funnymeme,#bgimg{background-size:cover;}
#funnymeme,#bgimg{background-repeat:no-repeat;}
#bgimg{background-image:url("images/anime.png");}
html{color:#c92647;}#bgimg{opacity:.15;}
html{font-family:"Consolas";}
#funnymeme{width:90;}#funnymeme{height:173;}#funnymeme{bottom:25;}
#funnymeme{left:48.5%;}html{font-size:.6875pc;}#funnymeme{background-image:url("");}
#footer{width:100%;}#footer{bottom:0;}a{color:#c74a63;}#footer{left:0;}
a:hover{color:#7a2d3d;}a:hover,a{text-decoration:underline;}


